@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
}
    to{
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

.container {
    animation: appear 5s linear;
    -webkit-animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}